<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Spring MVC -HelloWorld</title>
<link rel="stylesheet"
  href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
  src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Infomation</div>
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
      </tr>
      <tr th:each="student : ${greeting}">
        <th th:text="${student.studId}">0</th>
        <th th:text="${student.name}">zero</th>
        <th th:text="${student.email}">zero@zero.gmail.com</th>
      </tr>
    </table>
  </div>
</body>
</html>