<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Spring MVC -HelloWorld</title>
<link rel="stylesheet"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
	src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- <p><span th:text="${greeting}"></span></p> -->
	<table>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>email</th>
		</tr>
		<tr th:each="student : ${greeting}">
			<th th:text="${student.studId}">0</th>
			<th th:text="${student.name}">zero</th>
			<th th:text="${student.email}">zero@zero.gmail.com</th>
		</tr>
	</table>
	<div class="btn-group">
		<button type="button" class="btn btn-success">This is a
			success button</button>
		<button type="button" class="btn btn-warning">This is a
			warning button</button>
		<button type="button" class="btn btn-danger">This is a danger
			button</button>
	</div>
</body>
</html>