<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=divece-width, initial-scale=1"/>
<title>Spring MVC -HelloWorld</title>
<link rel="stylesheet"
  href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
  src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h2>CIMS MES<span>beta</span></h2>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#">Home</a></li>
      <li><a data-toggle="tab" href="#">订单管理</a></li>
      <li><a data-toggle="tab" href="#">质量管理</a></li>
      <li><a data-toggle="tab" href="#">设备管理</a></li>
      <li><a data-toggle="tab" href="#">资源管理</a></li>
    </ul>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Infomation</div>
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>dob</th>
      </tr>
      <tr th:each="student : ${greeting}">
        <th th:text="${student.studId}">0</th>
        <th th:text="${student.name}">zero</th>
        <th th:text="${student.email}">zero@zero.gmail.com</th>
        <th th:text="${student.dob}">27052017</th>
      </tr>
    </table>
  </div>
</body>
</html>